<app-search-bar></app-search-bar>
<section>
    <h2>Movies</h2>
    <h2></h2>
    <article class="card" *ngFor="let show of (movies | fitler:filterContent:'title') let i = index">
        <img src={{movies[i].thumbnail.regular.large}} alt="">
        <div>
            <p>
                {{movies[i].year}}
            </p>
            <span></span>
            <img src="../../assets/icon-category-movie.svg" alt="movie-icon">
            <p>Movie</p>
            <span></span>
            <p>{{movies[i].rating}}</p>
        </div>
        <h3>{{movies[i].title}}</h3>
        <div *ngIf="movies[i].isBookmarked === false; else bookmarked">
            <div class="bookmark-container" (click)="updateBookmark(true,movies[i].title)" >
                <img src="../../assets/icon-bookmark-empty.svg" alt="empty bookmark icon">
            </div>
        </div>
        <ng-template #bookmarked >
            <div class="bookmark-container" (click)="updateBookmark(false,movies[i].title)" >
                <img src="../../assets/icon-bookmark-full.svg" alt="empty bookmark icon">
            </div>
        </ng-template>

    </article>
</section>