
<!-- <app-search-bar></app-search-bar> -->

<h2>Bookmarked Movies</h2>
<section>
    <article class="card" *ngFor="let show of bookmarkedMovies let i = index">
        <img src={{bookmarkedMovies[i].thumbnail.regular.large}} alt="">
        <div>
            <p>
                {{bookmarkedMovies[i].year}}
            </p>
            <span></span>
            <img src="../../assets/icon-category-movie.svg" alt="tv-icon">
            <p>{{bookmarkedMovies[i].category}}</p>
            <span></span>
            <p>{{bookmarkedMovies[i].rating}}</p>
        </div>
        <h3>{{bookmarkedMovies[i].title}}</h3>

        <div class="bookmark-container" (click)="updateBookmarkMovies(false,bookmarkedMovies[i].title)" >
            <img src="../../assets/icon-bookmark-full.svg" alt="full bookmark icon">
        </div>
    </article>
</section>
<!-- let i = index -->
<h2>Bookmarked TV Series</h2>
<section>
    <!-- <div *ngIf="allShows == null; else elseBlock">Content to render when condition is true. </div>
    <ng-template #elseBlock>Content to render when condition is false. -->

    <article class="card" *ngFor="let show of bookmarkedTV let i = index">
        <img src={{bookmarkedTV[i].thumbnail.regular.large}} alt="">
        <div>
            <p>
                {{bookmarkedTV[i].year}}
            </p>
            <span></span>
            <img src="../../assets/icon-category-tv.svg" alt="tv-icon">
            <p>{{bookmarkedTV[i].category}}</p>
            <span></span>
            <p>{{bookmarkedTV[i].rating}}</p>
        </div>
        <h3>{{bookmarkedTV[i].title}}</h3>

        <div class="bookmark-container" (click)="updateBookmarkTV(false,bookmarkedTV[i].title)" >
            <img src="../../assets/icon-bookmark-full.svg" alt="full bookmark icon">
        </div>



    </article>
    
<!-- </ng-template> -->
</section>